@font-face {
  font-family: 'Hatton';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/PPHatton-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Hatton';
  font-weight: 500;
  font-style: italic;
  src: url('../assets/fonts/PPHatton-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Hatton';
  font-weight: 700;
  font-style: italic;
  src: url('../assets/fonts/PPHatton-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Hatton';
  font-weight: 700;
  font-sytle: normal;
  src: url('../assets/fonts/PPHatton-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Hatton';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/PPHatton-Ultralight.woff') format('woff');
}
@font-face {
  font-family: 'Hatton';
  font-style: italic;
  font-weight: 200;
  src: url('../assets/fonts/PPHatton-UltralightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-Thin.ttf') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-Medium.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  src: url('../assets/fonts/JosefinSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* @font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  src: url('../assets/fonts/JosefinSans-Italic-VariableFont_wght.woff')
      format('woff supports variations'),
    url('../assets/fonts/JosefinSans-Italic-VariableFont_wght.woff')
      format('woff-variations');
  font-weight: 100 1000;
} */
