@font-face {
  font-family: "Material Symbols Outlined";

  font-style: normal;

  font-weight: 100 700;

  font-display: block;

  src: url("./material-symbols-outlined.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Symbols Rounded";

  font-style: normal;

  font-weight: 100 700;

  font-display: block;

  src: url("./material-symbols-rounded.woff2") format("woff2");
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

@font-face {
  font-family: "Material Symbols Sharp";

  font-style: normal;

  font-weight: 100 700;

  font-display: block;

  src: url("./material-symbols-sharp.woff2") format("woff2");
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Hatton, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

/* * {
    box-sizing: border-box;
  } */

/* @import url('../assets/fonts/fonts.css'); */

@font-face {
  font-family: 'Hatton';

  font-weight: 500;

  font-style: normal;

  src: url('../assets/fonts/PPHatton-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Hatton';

  font-weight: 500;

  font-style: italic;

  src: url('../assets/fonts/PPHatton-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Hatton';

  font-weight: 700;

  font-style: italic;

  src: url('../assets/fonts/PPHatton-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Hatton';

  font-weight: 700;

  font-sytle: normal;

  src: url('../assets/fonts/PPHatton-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Hatton';

  font-style: normal;

  font-weight: 200;

  src: url('../assets/fonts/PPHatton-Ultralight.woff') format('woff');
}

@font-face {
  font-family: 'Hatton';

  font-style: italic;

  font-weight: 200;

  src: url('../assets/fonts/PPHatton-UltralightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-Thin.ttf') format('woff');

  font-weight: 100;
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-ExtraLight.ttf') format('truetype');

  font-weight: 200;
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-Light.ttf') format('truetype');

  font-weight: 300;
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-Medium.ttf') format('truetype');

  font-weight: 400;
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-Regular.ttf') format('truetype');

  font-weight: 500;
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');

  font-weight: 600;
}

@font-face {
  font-family: 'Josefin Sans';

  font-style: normal;

  src: url('../assets/fonts/JosefinSans-Bold.ttf') format('truetype');

  font-weight: 700;
}

.material-symbols-outlined {
  font-variation-settings: 'wght' 200;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.\!left-0 {
  left: 0px !important;
}

.-left-10 {
  left: -2.5rem;
}

.-left-\[120px\] {
  left: -120px;
}

.-left-\[550px\] {
  left: -550px;
}

.-top-\[10px\] {
  top: -10px;
}

.-top-\[253px\] {
  top: -253px;
}

.-top-\[308px\] {
  top: -308px;
}

.-top-\[32px\] {
  top: -32px;
}

.-top-\[433px\] {
  top: -433px;
}

.left-0 {
  left: 0px;
}

.left-\[49px\] {
  left: 49px;
}

.left-\[680px\] {
  left: 680px;
}

.left-full {
  left: 100%;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-\[-29px\] {
  top: -29px;
}

.top-\[-69px\] {
  top: -69px;
}

.top-\[-82px\] {
  top: -82px;
}

.top-\[16px\] {
  top: 16px;
}

.top-\[58px\] {
  top: 58px;
}

.top-\[98px\] {
  top: 98px;
}

.top-\[43px\] {
  top: 43px;
}

.z-30 {
  z-index: 30;
}

.m-auto {
  margin: auto;
}

.mx-\[15px\] {
  margin-left: 15px;
  margin-right: 15px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-\[110px\] {
  margin-bottom: 110px;
}

.mb-\[112px\] {
  margin-bottom: 112px;
}

.mb-\[128px\] {
  margin-bottom: 128px;
}

.mb-\[153px\] {
  margin-bottom: 153px;
}

.mb-\[18px\] {
  margin-bottom: 18px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[34px\] {
  margin-bottom: 34px;
}

.mb-\[361px\] {
  margin-bottom: 361px;
}

.mb-\[50px\] {
  margin-bottom: 50px;
}

.mb-\[52px\] {
  margin-bottom: 52px;
}

.mb-\[62px\] {
  margin-bottom: 62px;
}

.mb-\[66px\] {
  margin-bottom: 66px;
}

.mb-\[71px\] {
  margin-bottom: 71px;
}

.mb-\[84px\] {
  margin-bottom: 84px;
}

.mb-\[88px\] {
  margin-bottom: 88px;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-\[22px\] {
  margin-left: 22px;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0px;
}

.mr-\[13px\] {
  margin-right: 13px;
}

.mt-\[162px\] {
  margin-top: 162px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[69px\] {
  margin-top: 69px;
}

.mt-auto {
  margin-top: auto;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[59px\] {
  margin-bottom: 59px;
}

.mt-5 {
  margin-top: 1.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-\[116px\] {
  height: 116px;
}

.h-\[223px\] {
  height: 223px;
}

.h-\[236px\] {
  height: 236px;
}

.h-\[243px\] {
  height: 243px;
}

.h-\[247px\] {
  height: 247px;
}

.h-\[248px\] {
  height: 248px;
}

.h-\[255px\] {
  height: 255px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[278px\] {
  height: 278px;
}

.h-\[370px\] {
  height: 370px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[410px\] {
  height: 410px;
}

.h-\[430px\] {
  height: 430px;
}

.h-\[440px\] {
  height: 440px;
}

.h-\[487px\] {
  height: 487px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-\[331px\] {
  height: 331px;
}

.w-\[146px\] {
  width: 146px;
}

.w-\[166px\] {
  width: 166px;
}

.w-\[172px\] {
  width: 172px;
}

.w-\[178px\] {
  width: 178px;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[249px\] {
  width: 249px;
}

.w-\[256px\] {
  width: 256px;
}

.w-\[257px\] {
  width: 257px;
}

.w-\[25px\] {
  width: 25px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[262px\] {
  width: 262px;
}

.w-\[268px\] {
  width: 268px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[275px\] {
  width: 275px;
}

.w-\[281px\] {
  width: 281px;
}

.w-\[289px\] {
  width: 289px;
}

.w-\[311px\] {
  width: 311px;
}

.w-\[345px\] {
  width: 345px;
}

.w-\[355px\] {
  width: 355px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[440px\] {
  width: 440px;
}

.w-\[46\%\] {
  width: 46%;
}

.w-\[49px\] {
  width: 49px;
}

.w-\[544px\] {
  width: 544px;
}

.w-\[54px\] {
  width: 54px;
}

.w-\[612px\] {
  width: 612px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[315px\] {
  width: 315px;
}

.max-w-\[1070px\] {
  max-width: 1070px;
}

.max-w-\[1290px\] {
  max-width: 1290px;
}

.max-w-\[345px\] {
  max-width: 345px;
}

.max-w-\[375px\] {
  max-width: 375px;
}

.max-w-\[440px\] {
  max-width: 440px;
}

.max-w-\[662px\] {
  max-width: 662px;
}

.max-w-\[940px\] {
  max-width: 940px;
}

.max-w-\[949px\] {
  max-width: 949px;
}

.max-w-\[330px\] {
  max-width: 330px;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.basis-\[140px\] {
  flex-basis: 140px;
}

.basis-\[54\%\] {
  flex-basis: 54%;
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-x-\[10px\] {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.gap-x-\[50px\] {
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-y-\[30px\] {
  row-gap: 30px;
}

.self-stretch {
  align-self: stretch;
}

.self-baseline {
  align-self: baseline;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-l-\[1px\] {
  border-left-width: 1px;
}

.border-r-\[1px\] {
  border-right-width: 1px;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.border-tan {
  --tw-border-opacity: 1;
  border-color: rgb(200 141 118 / var(--tw-border-opacity, 1));
}

.border-tan-light {
  --tw-border-opacity: 1;
  border-color: rgb(186 161 149 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-b-tan {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(200 141 118 / var(--tw-border-opacity, 1));
}

.\!bg-tan {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(200 141 118 / var(--tw-bg-opacity, 1)) !important;
}

.bg-beige {
  --tw-bg-opacity: 1;
  background-color: rgb(238 233 228 / var(--tw-bg-opacity, 1));
}

.bg-tan {
  --tw-bg-opacity: 1;
  background-color: rgb(200 141 118 / var(--tw-bg-opacity, 1));
}

.bg-tan-light {
  --tw-bg-opacity: 1;
  background-color: rgb(186 161 149 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\'\.\.\/assets\/images\/background-testimonial-mobile\.webp\'\)\] {
  background-image: url('../assets/images/background-testimonial-mobile.webp');
}

.bg-\[url\(\'\.\.\/assets\/images\/background\.webp\'\)\] {
  background-image: url('../assets/images/background.webp');
}

.bg-\[url\(\'\.\.\/assets\/images\/checkmark\.svg\'\)\] {
  background-image: url('../assets/images/checkmark.svg');
}

.bg-\[url\(\'\.\.\/assets\/images\/instagram\.svg\'\)\] {
  background-image: url('../assets/images/instagram.svg');
}

.bg-cover {
  background-size: cover;
}

.bg-left-top {
  background-position: left top;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-\[120px\] {
  padding-bottom: 120px;
}

.pb-\[158px\] {
  padding-bottom: 158px;
}

.pb-\[21px\] {
  padding-bottom: 21px;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pb-\[43px\] {
  padding-bottom: 43px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pb-\[64px\] {
  padding-bottom: 64px;
}

.pb-\[90px\] {
  padding-bottom: 90px;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-\[120px\] {
  padding-left: 120px;
}

.pl-\[15px\] {
  padding-left: 15px;
}

.pl-\[35px\] {
  padding-left: 35px;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-\[10px\] {
  padding-right: 10px;
}

.pr-\[15px\] {
  padding-right: 15px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[150px\] {
  padding-top: 150px;
}

.pt-\[187px\] {
  padding-top: 187px;
}

.pt-\[25px\] {
  padding-top: 25px;
}

.pt-\[356px\] {
  padding-top: 356px;
}

.pt-\[35px\] {
  padding-top: 35px;
}

.pt-\[36px\] {
  padding-top: 36px;
}

.pt-\[45px\] {
  padding-top: 45px;
}

.pt-\[51px\] {
  padding-top: 51px;
}

.pt-\[70px\] {
  padding-top: 70px;
}

.pl-\[23px\] {
  padding-left: 23px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-josefin {
  font-family: Josefin Sans, sans-serif;
}

.text-2xl {
  font-size: 30px;
}

.text-4xl {
  font-size: 50px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[33px\] {
  font-size: 33px;
}

.text-\[34px\] {
  font-size: 34px;
}

.text-\[40px\] {
  font-size: 40px;
}

.text-base {
  font-size: 20px;
}

.text-sm {
  font-size: 16px;
}

.text-xl {
  font-size: 24px;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[43px\] {
  line-height: 43px;
}

.leading-\[49px\] {
  line-height: 49px;
}

.leading-normal {
  line-height: 1.5;
}

.text-gray-dark {
  --tw-text-opacity: 1;
  color: rgb(97 83 75 / var(--tw-text-opacity, 1));
}

.text-gray-light {
  --tw-text-opacity: 1;
  color: rgb(114 102 96 / var(--tw-text-opacity, 1));
}

.text-tan {
  --tw-text-opacity: 1;
  color: rgb(200 141 118 / var(--tw-text-opacity, 1));
}

.text-tan-light {
  --tw-text-opacity: 1;
  color: rgb(186 161 149 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-80 {
  opacity: 0.8;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.swiper-pagination-bullet {
  background: transparent;
  border: solid 1px #c88d76;
  width: 16px;
  height: 16px;
  border-radius: 0;
  margin: 0 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #c88d76;
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:right-0::after {
  content: var(--tw-content);
  right: 0px;
}

.after\:h-\[30px\]::after {
  content: var(--tw-content);
  height: 30px;
}

.after\:w-\[30px\]::after {
  content: var(--tw-content);
  width: 30px;
}

.after\:bg-\[url\(\'\.\.\/assets\/images\/add\.svg\'\)\]::after {
  content: var(--tw-content);
  background-image: url('../assets/images/add.svg');
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:bg-tan-hover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(224 158 132 / var(--tw-bg-opacity, 1));
}

.group[open] .group-open\:bg-\[url\(\'\.\.\/assets\/images\/close\.svg\'\)\] {
  background-image: url('../assets/images/close.svg');
}

.group[open] .group-open\:after\:rotate-45::after {
  content: var(--tw-content);
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group[open] .group-open\:after\:bg-\[url\(\'\.\.\/assets\/images\/close\.svg\'\)\]::after {
  content: var(--tw-content);
  background-image: url('../assets/images/close.svg');
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:-left-\[118px\] {
    left: -118px;
  }

  .lg\:-left-\[120px\] {
    left: -120px;
  }

  .lg\:-left-\[209px\] {
    left: -209px;
  }

  .lg\:-left-\[42px\] {
    left: -42px;
  }

  .lg\:-left-\[75px\] {
    left: -75px;
  }

  .lg\:-left-\[80px\] {
    left: -80px;
  }

  .lg\:-right-\[118px\] {
    right: -118px;
  }

  .lg\:-top-\[15px\] {
    top: -15px;
  }

  .lg\:-top-\[93px\] {
    top: -93px;
  }

  .lg\:left-\[80px\] {
    left: 80px;
  }

  .lg\:left-auto {
    left: auto;
  }

  .lg\:right-\[89px\] {
    right: 89px;
  }

  .lg\:right-\[unset\] {
    right: unset;
  }

  .lg\:right-auto {
    right: auto;
  }

  .lg\:top-0 {
    top: 0px;
  }

  .lg\:top-10 {
    top: 2.5rem;
  }

  .lg\:top-\[100px\] {
    top: 100px;
  }

  .lg\:top-\[32px\] {
    top: 32px;
  }

  .lg\:top-\[59px\] {
    top: 59px;
  }

  .lg\:top-\[79px\] {
    top: 79px;
  }

  .lg\:z-10 {
    z-index: 10;
  }

  .lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .lg\:mb-\[100px\] {
    margin-bottom: 100px;
  }

  .lg\:mb-\[107px\] {
    margin-bottom: 107px;
  }

  .lg\:mb-\[136px\] {
    margin-bottom: 136px;
  }

  .lg\:mb-\[14px\] {
    margin-bottom: 14px;
  }

  .lg\:mb-\[156px\] {
    margin-bottom: 156px;
  }

  .lg\:mb-\[160px\] {
    margin-bottom: 160px;
  }

  .lg\:mb-\[179px\] {
    margin-bottom: 179px;
  }

  .lg\:mb-\[20px\] {
    margin-bottom: 20px;
  }

  .lg\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .lg\:mb-\[54px\] {
    margin-bottom: 54px;
  }

  .lg\:mb-\[84px\] {
    margin-bottom: 84px;
  }

  .lg\:ml-\[330px\] {
    margin-left: 330px;
  }

  .lg\:mt-12 {
    margin-top: 3rem;
  }

  .lg\:mt-2 {
    margin-top: 0.5rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[308px\] {
    height: 308px;
  }

  .lg\:h-\[317px\] {
    height: 317px;
  }

  .lg\:h-\[318px\] {
    height: 318px;
  }

  .lg\:h-\[351px\] {
    height: 351px;
  }

  .lg\:h-\[470px\] {
    height: 470px;
  }

  .lg\:h-\[486px\] {
    height: 486px;
  }

  .lg\:h-\[499px\] {
    height: 499px;
  }

  .lg\:h-\[509px\] {
    height: 509px;
  }

  .lg\:h-\[552px\] {
    height: 552px;
  }

  .lg\:h-\[592px\] {
    height: 592px;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:w-\[300px\] {
    width: 300px;
  }

  .lg\:w-\[328px\] {
    width: 328px;
  }

  .lg\:w-\[334px\] {
    width: 334px;
  }

  .lg\:w-\[344px\] {
    width: 344px;
  }

  .lg\:w-\[353px\] {
    width: 353px;
  }

  .lg\:w-\[355px\] {
    width: 355px;
  }

  .lg\:w-\[360px\] {
    width: 360px;
  }

  .lg\:w-\[388px\] {
    width: 388px;
  }

  .lg\:w-\[390px\] {
    width: 390px;
  }

  .lg\:w-\[438px\] {
    width: 438px;
  }

  .lg\:w-\[456px\] {
    width: 456px;
  }

  .lg\:w-\[458px\] {
    width: 458px;
  }

  .lg\:w-\[463px\] {
    width: 463px;
  }

  .lg\:w-\[467px\] {
    width: 467px;
  }

  .lg\:w-\[481px\] {
    width: 481px;
  }

  .lg\:w-\[519px\] {
    width: 519px;
  }

  .lg\:w-\[55\%\] {
    width: 55%;
  }

  .lg\:w-\[582px\] {
    width: 582px;
  }

  .lg\:w-\[740px\] {
    width: 740px;
  }

  .lg\:w-\[74vw\] {
    width: 74vw;
  }

  .lg\:w-\[89vw\] {
    width: 89vw;
  }

  .lg\:w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-\[440px\] {
    width: 440px;
  }

  .lg\:max-w-\[650px\] {
    max-width: 650px;
  }

  .lg\:max-w-\[745px\] {
    max-width: 745px;
  }

  .lg\:max-w-\[850px\] {
    max-width: 850px;
  }

  .lg\:max-w-\[1070px\] {
    max-width: 1070px;
  }

  .lg\:max-w-fit {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .lg\:max-w-\[fit-content\] {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .lg\:grow-0 {
    flex-grow: 0;
  }

  .lg\:basis-auto {
    flex-basis: auto;
  }

  .lg\:grid-cols-\[68\%_1fr\] {
    grid-template-columns: 68% 1fr;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:gap-x-\[114px\] {
    -moz-column-gap: 114px;
         column-gap: 114px;
  }

  .lg\:gap-x-\[87px\] {
    -moz-column-gap: 87px;
         column-gap: 87px;
  }

  .lg\:gap-y-\[160px\] {
    row-gap: 160px;
  }

  .lg\:self-start {
    align-self: flex-start;
  }

  .lg\:self-end {
    align-self: flex-end;
  }

  .lg\:self-center {
    align-self: center;
  }

  .lg\:border-0 {
    border-width: 0px;
  }

  .lg\:border-b-0 {
    border-bottom-width: 0px;
  }

  .lg\:border-b-\[1px\] {
    border-bottom-width: 1px;
  }

  .lg\:border-l-\[1px\] {
    border-left-width: 1px;
  }

  .lg\:border-r-0 {
    border-right-width: 0px;
  }

  .lg\:border-r-\[1px\] {
    border-right-width: 1px;
  }

  .lg\:border-t-0 {
    border-top-width: 0px;
  }

  .lg\:border-tan {
    --tw-border-opacity: 1;
    border-color: rgb(200 141 118 / var(--tw-border-opacity, 1));
  }

  .lg\:bg-tan {
    --tw-bg-opacity: 1;
    background-color: rgb(200 141 118 / var(--tw-bg-opacity, 1));
  }

  .lg\:bg-transparent {
    background-color: transparent;
  }

  .lg\:bg-\[url\(\'\.\.\/assets\/images\/background-hero\.png\'\)\] {
    background-image: url('../assets/images/background-hero.png');
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:p-7 {
    padding: 1.75rem;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:px-\[110px\] {
    padding-left: 110px;
    padding-right: 110px;
  }

  .lg\:px-\[5\%\] {
    padding-left: 5%;
    padding-right: 5%;
  }

  .lg\:px-\[67px\] {
    padding-left: 67px;
    padding-right: 67px;
  }

  .lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:pb-\[100px\] {
    padding-bottom: 100px;
  }

  .lg\:pb-\[179px\] {
    padding-bottom: 179px;
  }

  .lg\:pb-\[7px\] {
    padding-bottom: 7px;
  }

  .lg\:pl-12 {
    padding-left: 3rem;
  }

  .lg\:pl-\[104px\] {
    padding-left: 104px;
  }

  .lg\:pl-\[135px\] {
    padding-left: 135px;
  }

  .lg\:pl-\[80px\] {
    padding-left: 80px;
  }

  .lg\:pr-10 {
    padding-right: 2.5rem;
  }

  .lg\:pr-20 {
    padding-right: 5rem;
  }

  .lg\:pr-9 {
    padding-right: 2.25rem;
  }

  .lg\:pr-\[62px\] {
    padding-right: 62px;
  }

  .lg\:pt-10 {
    padding-top: 2.5rem;
  }

  .lg\:pt-\[100px\] {
    padding-top: 100px;
  }

  .lg\:pt-\[116px\] {
    padding-top: 116px;
  }

  .lg\:pt-\[40px\] {
    padding-top: 40px;
  }

  .lg\:pt-\[51px\] {
    padding-top: 51px;
  }

  .lg\:pt-\[75px\] {
    padding-top: 75px;
  }

  .lg\:pt-\[90px\] {
    padding-top: 90px;
  }

  .lg\:pt-\[98px\] {
    padding-top: 98px;
  }

  .lg\:pt-\[9px\] {
    padding-top: 9px;
  }

  .lg\:pb-\[43px\] {
    padding-bottom: 43px;
  }

  .lg\:pl-\[120px\] {
    padding-left: 120px;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-2xl {
    font-size: 30px;
  }

  .lg\:text-3xl {
    font-size: 40px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }

  .lg\:text-\[50px\] {
    font-size: 50px;
  }

  .lg\:text-\[60px\] {
    font-size: 60px;
  }

  .lg\:text-base {
    font-size: 20px;
  }

  .lg\:text-sm {
    font-size: 16px;
  }

  .lg\:text-xl {
    font-size: 24px;
  }

  .lg\:font-bold {
    font-weight: 700;
  }

  .lg\:font-medium {
    font-weight: 500;
  }

  .lg\:leading-\[75px\] {
    line-height: 75px;
  }

  .lg\:leading-\[90px\] {
    line-height: 90px;
  }

  .lg\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }

  .lg\:opacity-100 {
    opacity: 1;
  }
}
